.nav {
  background-color: #f6f6f6;
  width: 199px;
  font-family: sans-serif;
  font-size: 0.85em;
}

.nav img {
  width: 135px;
  margin-left: 32px;
  margin-bottom: 20px;
}

.nav ul {
    list-style-type: none;
    margin-bottom: 5px;
}

.sub-nav {
  border-bottom: 2px solid lightgray;
  margin-bottom: 5px;
}

.sub-nav p {
  margin-bottom: 5px;
}

.container-fluid {
  padding: 0px;
}

.nav-header {
  margin-left: 24px;
}
